amqp==2.5.2
appdirs==1.4.3
asgiref==3.2.5
attrdict==2.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
base58==2.0.0
billiard==3.6.3.0
boto==2.49.0
boto3==1.12.39
botocore==1.15.39
celery==4.4.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.1.1
colorama==0.4.3
concurrent-log-handler==0.9.16
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
crc16==0.1.1
cryptography==2.8
cytoolz==0.10.1
daphne==2.5.0
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.4
django-allauth==0.41.0
django-appconf==1.0.3
django-background-tasks==1.2.5
django-cacheops==4.2
django-compat==1.0.15
django-cors-headers==3.2.1
django-countries==6.1.2
django-crum==0.7.5
django-cryptography==0.3
django-debug-toolbar==2.2
django-environ==0.4.5
django-filter==2.2.0
django-gravatar2==1.4.2
django-js-asset==1.2.2
django-log-request-id==1.4.0
django-mptt==0.11.0
django-mptt-admin==1.0.1
django-object-actions==2.0.0
django-redis==4.10.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
django-rest-registration==0.5.2
django-rest-swagger==2.2.0
django-rq==2.1.0
django-ses==0.8.14
django-solo==1.1.3
django-storages==1.9.1
django-suit==0.2.28
django-templated-mail==1.1.1
django-test-without-migrations==0.6
django-treebeard==4.3.1
django-user-agents==0.4.0
django-widget-tweaks==1.4.5
djangorestframework==3.11.0
djangorestframework-jsonapi==3.1.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
djoser==2.0.3
docutils==0.15.2
drf-extensions==0.5.0
ed25519==1.5
eth-abi==2.1.1
eth-account==0.4.0
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.8.4
factory-boy==2.12.0
Faker==3.0.0
filelock==3.0.12
funcy==1.14
future==0.18.2
hexbytes==0.2.0
httpie==2.0.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
inflection==0.3.1
influxdb==5.2.3
ipfshttpclient==0.4.12
itypes==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
jsonschema==3.2.0
kombu==4.6.8
lru-dict==1.1.6
Markdown==3.2.1
MarkupSafe==1.1.1
mnemonic==0.19
multiaddr==0.0.9
mysql-client==0.0.1
mysqlclient==1.4.6
netaddr==0.7.19
numpy==1.17.4
oauthlib==3.1.0
openapi-codec==1.3.2
packaging==20.3
pandas==1.0.3
parsimonious==0.8.1
pbkdf2==1.3
Pillow==7.1.1
pip-tools==4.3.0
pipenv==2018.11.26
pluggy==0.13.1
portalocker==1.5.2
protobuf==3.11.3
psycopg2-binary==2.8.4
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycryptodome==3.9.7
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyotp==2.3.0
pyparsing==2.4.6
pypiwin32==223
pyRFC3339==1.1
pyrsistent==0.16.0
python-dateutil==2.8.1
python-json-logger==0.1.11
python3-openid==3.1.0
pytz==2019.3
pywin32==227
PyYAML==5.2
raven==6.10.0
redis==3.3.11
requests==2.23.0
requests-oauthlib==1.3.0
rlp==1.2.0
rq==1.1.0
s3transfer==0.3.3
service-identity==18.1.0
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.1
sseclient==0.0.24
stellar-base==1.1.2.0
text-unidecode==1.3
toml==0.10.0
toolz==0.10.0
tox==3.14.5
Twisted==20.3.0
txaio==20.4.1
ua-parser==0.8.0
uritemplate==3.0.1
urllib3==1.25.8
user-agents==2.0
varint==1.0.2
vine==1.3.0
virtualenv==20.0.10
virtualenv-clone==0.5.3
web3==5.7.0
websockets==8.1
zope.interface==5.1.0
