{% extends "admin/change_list.html" %}
{% load static %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const backoffice_form = django.jQuery("#backoffice_login");
    backoffice_form.submit();
    
});
</script>
{% endblock %}

{% block content %}

{{ block.super }}

{% if backoffice_subject %}
<div>
<a href="https://backoffice.fbpasia.com/ib/ib_view" target="_blank">{{backoffice_subject}}</a>
</div>

{% endif %}



{% endblock %}