.mp-header a {
  color: white;
}

/* .mp-header a:hover{
    text-decoration: none !important;
    color:white !important;
} */

.mp-header {
  background-color: #0e112c;
  height:100px;
}

.height-full {
  height: 100%;
}

.mplogo-box {
  width: 400px;
  height: 400px;
  margin: -167px -68px -166px -68px;
  overflow: hidden;
}



.mplogo-area {
  background: url('../../images/mpLogo.png') no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  padding: 0;
  height: auto;
  width: 100%;
  height: 100%;
}

.get-out{
    background-color:white;
    color:#006536 !important;
}

.get-out img{
  width:25px;
}
