.main {
    background: url('../../images/trading_main.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .main p{
      margin:0;
      color: white;
      font-weight: 400;
  }

  .trade-title {
      color: white;
  }